# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/extrahome/ichorby/ichor.by/api"
PassengerBaseURI "/"
PassengerNodejs "/extrahome/ichorby/nodevenv/ichor.by/api/18/bin/node"
PassengerAppType node
PassengerStartupFile start.cjs
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
